@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
	height: 100%;
}

/*Reglas generales de great*/

body {
	display: flex;
	background-image: url("/assets/images/backgrounds/main-background4.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Varela Round", "sans-serif";
	font-weight: normal;
	margin: 0;
	padding: 0;
	flex-direction: column;

	min-height: 100%;
}

.display-great {
	display: inherit !important;
}

h1 {
	text-align: center;
	font-size: xx-large;
	color: #E37D24;
}

h2 {
	color: #50A1B5;
}

/*Para index*/

#wrapper {
	border-radius: 2em;
	border-style: inset;
	border-color: #a9d1db9c;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.267);
	align-items: center;
	background-color: #f1f7f9f3;
	color: #12262B;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	clear: both;
	width: 60%;
	height: auto;
	max-width: 1500px;
}

.inf_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#sgnup button {
	display: block;
	background-color: #428C9E;
	border: none;
	padding: 9px 25px;
	cursor: pointer;
	font-size: 1.2em;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

#sgnup button:hover {
	background-color: #3C7F90;
}

#sgnup i {
	margin-right: 0.4em;
}

.abt_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	margin-top: 2em;
	margin-bottom: 2em;
}

/*Para formulario de registro*/

#form-signin {
	border-radius: 2em;
	border-style: inset;
	border-color: #a9d1db9c;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.267);
	align-items: center;
	background-color: #f1f7f9f3;
	color: #12262B;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	clear: both;
	width: 60%;
	height: auto;
	max-width: 1500px;
}

#notice {
	font-size: small;
}

form p {
	display: grid;
	grid-template-columns: 200px 200px;
}

form label {
	text-align: right;
	margin-right: 10%;
}

.req {
	color: #E37D24;
	font-weight: 600;
}

/*Pie de pagina*/

#footer {
	margin-top: auto;
}