@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
	background-image: url("/assets/images/main-background4.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Varela Round", "sans-serif";
	font-weight: normal;
}

.display-great {
	display: inherit !important;
}

h1, h2 {
	text-align: center;
	color: #6FB2C3;
}

#wrapper {
	align-items: center;
	background-color: #20033ae8;
	color: #F7F7ED;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	clear: both;
	width: 60%;
	height: auto;
	max-width: 1500px;
}

.abt_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
}

#sgnup button {
	display: block;
	background-color: #50A1B5;
	border: none;
	padding: 9px 25px;
	cursor: pointer;
	font-size: 1.2em;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

#sgnup button:hover {
	background-color: #428C9E;
}

#form-signin {
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 33%;
}

form p {
	display: grid;
	grid-template-columns: 200px 200px;
}

form label {
	text-align: right;
	margin-right: 10%;
}