@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html {
	height: 100%;
}

/*Reglas generales de great*/

body {
	display: flex;
	background-image: url("/assets/images/backgrounds/main-background4.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Varela Round", "sans-serif";
	font-weight: normal;
	margin: 0;
	padding: 0;
	flex-direction: column;

	min-height: 100%;
}

.display-great {
	display: inherit !important;
}

h1 {
	text-align: center;
	font-size: xx-large;
	color: #4A0788;
}

h2 {
	color: #50A1B5;
}

.wrapper {
	border-radius: 2em;
	border-style: inset;
	border-color: #a9d1db9c;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.267);
	align-items: center;
	background-color: #f1f7f9f3;
	color: #12262B;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	clear: both;
	width: 60%;
	height: auto;
	max-width: 1500px;
}

input[type=submit], .in_content_btn {
	color: #F7F7ED;
	display: block;
	background-color: #428C9E;
	border: none;
	padding: 9px 25px;
	cursor: pointer;
	font-size: 1.2em;
	height: 4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

input[type=submit]:hover, .in_content_btn:hover {
	background-color: #3C7F90;
}

.inpage_imgs {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 2em;
	margin-bottom: 2em;
} 

.submit {
	width: 175px;
}

/*Para index*/

#sgnup i {
	margin-right: 0.4em;
}

.abt_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	margin-top: 2em;
	margin-bottom: 2em;
}



/*Para formulario de registro*/

#frm_reg_wrapper {
	width: 80%;
}

#notice {
	font-size: small;
	padding: 1%;
}

.container-inptbxs p {
	padding: 1%;
	display: grid;
	grid-template-columns: 18em 18em;
}

form label {
	text-align: right;
	margin-right: 10%;
}

:focus {
	outline: none;
}

input {
	font-family: "Varela Round", "sans-serif";
	font-size: 1em;
}

input:not(.submit):hover {
	cursor: auto;
}

.box {
	border: 0;
	border-bottom: 1.5px solid #ccc;
	background-color: rgba(255, 235, 205, 0);
}

.box ~ .focus-border {
	grid-column: 2;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #430ed3;
	transition: 0.4s;
}

.box:focus ~ .focus-border {
	width: 100%;
	transition: 0.4s;
	left: 0;
}

#id, #phone {
	width: 6.5em;
	margin-right: auto;
}

.smalltxt .box:focus ~ .focus-border {
	width: 6.8em;
}

.number {
	width: 3em;
}

.smallertxt .box:focus ~ .focus-border {
	width: 3.3em;
}

.range {
	width: 10em;
}

#cursos {
	width: 50%;
	display: grid;
	margin-left: 10%;
	text-align: left;
}

#cursos #dibypint {
	grid-row: 1;
	grid-column: 2;
}

#cursos label {
	display: inline-flex;
}

#cursos label, input {
	cursor: pointer;
}

#cursos #ajedrez, #dibypint {
	padding-bottom: 15px;
}

fieldset {
	border: none;
}

	/*Boton radial personalizado*/
	#cursos input {
		display: none;
	}

	.radio-mark {
		width: 1.2em;
		height: 1.2em;
		border: solid 2px #aca5c2;
		border-radius: 50%;
		margin-right: 10px;
		box-sizing: border-box;
		padding: 2px;
	}

	.radio-mark::after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		background: #553a9e;
		border-radius: 50%;
		transform: scale(0);
		transition: transform 0.15s;
	}

	#cursos input:checked + .radio-mark::after {
		transform: scale(1);
	}


/*Formulario de login*/

#body-login {
	background-image: url(/assets/images/backgrounds/main-background-login.png) ;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.inner-container {
	margin-top: 5%;
	margin-left: 5%;
}

#header-login {
	margin-top: 2%;
	margin-left: 2%;
}

#header-login .logo {
	background-color: #33055E;
	border-radius: 10%;
}

#login_logo_home {
	width: 100px;
}

#dspl_img_login {
	border: solid #33055e8a 10px;
}

#frm_log_wrapper {
	margin-right: 10%;
	padding: 1%;
	width: 90%;
}

#frm_log_wrapper #submit_login {
	margin-bottom: 5%;
	margin-top: 5%;
}

#frm_log_wrapper .box-login {
	margin-top: 1%;
	font-size: 14px;
}

#container-input-log p {
	margin-left: 30%;
	margin-right: 30%;
	width: 50%;
	grid-template-columns: 75%;
}

#container-input-log label {
	text-align: left;
}

.box-login ~ .focus-border {
	grid-column: 1;
}

#login_logo {
	width: 90px;
}

#login_title {
	font-size: large;
}

/*Pagina de administracion*/

#admin_body header {
	margin-bottom: 0;
}

#admin-content {
	display: grid;
	grid-template-columns: 25% auto;
}

#admin-content ul {
	background-color: #4A0788;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}


#admin-content .wrapper {
	background-color: #F1F7F9;
	border-radius: 0;
	border-style: none;
	box-shadow: none;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 10px 10px rgba(0, 0, 0, 0.267);
}

#admin-content .wrapper .adm-btn-wrapper {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

#admin-content .wrapper .adm-btn {
	padding: 9px 50px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
	height: 3.5em;
}

#admin-content .wrapper #acpt-btn {
	margin: 10px;
	display: inline-block;
	background-color: #50A1B5;
}

#admin-content .wrapper #acpt-btn:hover {
	background-color: #428C9E;
}

#admin-content .wrapper #rjct-btn {
	margin: 10px;
	display: inline-block;
	background-color: #E37D24;
}

#admin-content .wrapper #rjct-btn:hover {
	background-color: #C76A1A;
}

#admin_body #footer footer {
	margin-top: 0;
}