header {
    box-sizing: border-box;
    height: 7em;
    margin: 0;
    padding: 0;
    background-color: #33055e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 2em;
}

li, a, button {
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: #F7F7ED;
    text-decoration: none;
}

.display-great {
	display: inherit !important;
}

.logo {
    cursor: pointer;
    height: 7em;
}

.nav_menu {
    list-style: none;
    height: 7em;
    align-items: flex-end;
}

.nav_menu li {
    display: inline-block;
    padding: 0px 0.5px;
}

.nav_menu li a {
    transition: all 0.3s ease 0s;
}

.nav_menu i {
    margin-right: 0.4em;
}

.nav_menu button {
    padding: 9px 25px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 3em;
}

.optn button {
    background-color: #50a1b5c7;
}

.optn button:hover {
    background-color:  #50a1b583;
}

#cta button {
    background-color: #e37d24c9;
    margin-left: 1em;
}

#cta button:hover {
    background-color:  #e37d2483;
}

/*Para nav de user*/

#user_header {
    background-color: #50A1B5;
    border-bottom: #33055e solid 1px;
}

#user_header ul {
    width: 40%;
}

#user_header button {
    background-color: #33055e;
    width: 200px;
    margin-left: 10%;
}

#user_header a {
    color: #F7F7ED;
}

#user_header #usr_name {
    color: #33055e;
    margin-bottom: 15px;
    width: 200px;
}